<div class="mt-2 alert alert-warning text-center" role="alert">
    Sorry, this service is currently unavailable; please try again later.
</div>

<link rel="stylesheet" href="~/css/Components/ServiceUnavailable/_ServiceUnavailable.min.css" />