@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Banner Carousel -->
<div class="carousel slide" data-bs-ride="carousel" data-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/eiffel.jpg" alt="Picture showing the Eiffel Tower at night.">
        </div>
        <div class="carousel-item">
            <img src="/assets/empirestate.jpg" alt="Picture of Huntingdonshire in the morning.">
        </div>
        <div class="carousel-item">
            <img src="/assets/hunts.jpg" alt="Picture of Huntingdonshire in the morning.">
        </div>
        <div class="carousel-item">
            <img src="/assets/charlotte.jpg" alt="Picture showing the Charlotte skylines.">
        </div>
        <div class="carousel-item">
            <img src="/assets/champs.jpg" alt="Picture showing the Arc de Triomphe at night.">
        </div>
    </div>
</div>

<!-- Carousel Banner Split Overlay -->
<div id="background-split"></div>

<!-- Search City Location Form -->
<form class="bg-transparent form-floating position-absolute top-50 start-50 ms-5" method="post">
    <input type="text" class="form-control" id="city-search" asp-for="Search.SearchQuery" placeholder="Please enter a city" />
    <label for="city-search" class="form-label">City search</label>
    <button class="btn btn-primary" type="submit" hidden>Submit</button>
</form>

<!-- Content -->
<div class="vw-100 flex-content d-flex flex-column flex-md-row justify-content-around justify-content-evenly bg-secondary position-absolute top-100 end-0 start-0">
    <a href="/Cities?SelectedCountries=United+States">United States <br /> <img class="mt-2" src="/assets/usaicon.png" alt="USA icon"></a>
    <a href="/Cities?SelectedCountries=United+Kingdom">United Kingdom <br /> <img class="mt-2" src="/assets/ukicon.png" alt="UK icon"></a>
    <a href="/Cities?SelectedCountries=France">France<br /> <img class="mt-2" src="/assets/franceicon.png" alt="France icon"></a>
</div>

<link rel="stylesheet" href="~/css/Components/Index/_index.min.css" />
<script src="js/searchAutoComplete.js" asp-append-version="true"></script>